<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <h4>Node MYSQL</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <button type="submit" id="disconect">Disconect</button>
        </ul>
    </nav>

    <div class="container">
        <h1>CONNECTED</h1>
    </div>
</body>
</html>