<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <form id="loginForm" action="/api/login" method="POST">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>

    <div id="auth-message"></div> <!-- Div pour afficher les messages -->

    <script>
        document.getElementById('loginForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            const response = await fetch('/api/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams(formData)
            });

            const result = await response.json();

            const messageDiv = document.getElementById('auth-message');
            if (response.ok) {
                // Afficher le message de succès et rediriger
                messageDiv.textContent = result.msg;
                setTimeout(() => {
                    window.location.href = '/home';
                }, 1500); // Attendre 2 secondes avant de rediriger
            } else {
                // Afficher le message d'erreur
                messageDiv.textContent = result.msg;
            }
        });
    </script>
</body>

</html>